[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = For ROS tutorials (https://l.facebook.com/l.php?u=http%3A%2F%2Fwiki.ros.org%2FROS%2FTutorials%3Ffbclid%3DIwAR0ehvytOmej1xs9s4rWYA04e1Bou3Sh1obM9SEOL3eaesVmludi7mwiU-k&h=AT2mk4XRzCWdnAUC_ZfD8v72S5U15v_kCnO6DNZ4FGW70c8Gq0gn2qhaW3Tt6wLOfu6HkiwvZorAqaqzm_wiKeCH12aikUimveyi_0sfGH1e_Vh-yEiwTa2LpRw5WOia9cckE8g7Yrv7-Lk)
[access "refs/*"]
	owner = group user/Chen-Hsiang, Kao (michael61112)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Chen-Hsiang, Kao (michael61112)
	label-Verified = -1..+1 group user/Chen-Hsiang, Kao (michael61112)
	push = group user/Chen-Hsiang, Kao (michael61112)
	read = group user/Chen-Hsiang, Kao (michael61112)
	rebase = group user/Chen-Hsiang, Kao (michael61112)
	removeReviewer = group user/Chen-Hsiang, Kao (michael61112)
	submit = group user/Chen-Hsiang, Kao (michael61112)
[access "refs/heads/*"]
	create = group user/Chen-Hsiang, Kao (michael61112)
	push = +force group user/Chen-Hsiang, Kao (michael61112)
	pushMerge = group user/Chen-Hsiang, Kao (michael61112)
	read = group user/Chen-Hsiang, Kao (michael61112)
[access "refs/tags/*"]
	push = group user/Chen-Hsiang, Kao (michael61112)
	push = +force group user/Chen-Hsiang, Kao (michael61112)
